include ../unit/unit

mixin experience({icon, header, expList})
    .experience
        .experience__header
            +header(icon, header)
        ul.experience__content
            each elem in expList
                li
                    +unit(elem)
