include ../unit/unit

mixin experience(experience)
    .experience
        .experience__header
            +header(experience.icon, experience.header)
        .experience__content
            each elem in experience.expList
                +unit(elem, "")
