@charset "UTF-8";
.cv {
  min-width: 25.3rem;
  max-width: 73.8rem;
  font-size: 1rem;
  text-align: start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 0.48rem; }
  @media screen and (max-width: 52.9rem) {
    .cv {
      justify-content: center;
      margin: 0; } }
  .cv__left-column {
    min-width: 21.8rem;
    flex-basis: 39%;
    background-color: white;
    margin-bottom: 4.7rem; }
    @media screen and (max-width: 52.9rem) {
      .cv__left-column {
        flex-grow: 0.9;
        margin-bottom: 0rem; } }
  .cv__right-column {
    background-color: white;
    min-width: 25.3rem;
    flex-basis: 57%;
    margin-bottom: 4.7rem; }
    @media screen and (max-width: 52.9rem) {
      .cv__right-column {
        flex-grow: 0.9; } }
  .cv__person {
    padding-top: 4.94rem; }
  .cv__profile {
    padding-top: 1.88rem; }
  .cv__contact {
    padding-top: 2.45rem; }
  .cv__skills {
    padding-top: 1.47rem; }
  .cv__education {
    padding-top: 4.4rem; }
    @media screen and (max-width: 52.9rem) {
      .cv__education {
        padding-top: 2.94rem; } }
  .cv__experience {
    padding-top: 2.5rem; }
  .cv__software {
    padding-top: 2.45rem; }

.person {
  height: 28.8rem;
  width: 100%;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.94rem; }
  .person__photo {
    position: relative;
    width: 13.4rem;
    height: 13.4rem;
    border-radius: 50%;
    background-color: #056cb4;
    margin: 0 auto; }
    .person__photo::after {
      position: absolute;
      content: "";
      top: -0.94rem;
      left: -0.94rem;
      width: 15.2rem;
      height: 15.2rem;
      border-radius: 50%;
      border: 0.06rem solid #056cb4; }
  .person__name {
    margin-top: 2.4rem;
    margin-left: 1.2rem;
    height: 3.53rem;
    font-size: 3.53rem;
    font-weight: normal;
    letter-spacing: 0.12rem;
    filter: blur(0.06rem); }
  .person__surname {
    margin-top: -0.48rem;
    height: 3.88rem;
    font-size: 3.88rem;
    font-weight: bold;
    letter-spacing: 0.18rem;
    background-color: #ffffff00;
    margin-left: 1.2rem; }
  .person__profession {
    margin-top: 1.06rem;
    font-size: 1.53rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
    margin-left: 1.2rem; }

.header {
  padding-left: 0.88rem;
  height: 4.59rem;
  width: 100%;
  display: flex; }
  .header__icon {
    width: 4.18rem;
    height: 4.18rem;
    margin-top: 0.24rem;
    margin-left: 0.24rem;
    border-radius: 50%;
    color: white;
    background-color: #056cb4;
    border: 0rem; }
    .header__icon::before {
      content: "";
      position: absolute;
      width: 4.47rem;
      height: 4.47rem;
      margin-top: -0.24rem;
      margin-left: -0.24rem;
      border-radius: 50%;
      border: 0.06rem solid #056cb4; }
    .header__icon .icons-size {
      font-size: 3rem;
      margin-top: 0.6rem;
      margin-left: 0.6rem; }
  .header__label {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 1.3rem;
    font-size: 2.65rem;
    font-weight: bold;
    background-color: #ffffff00;
    color: #056cb4;
    letter-spacing: 0rem;
    text-transform: uppercase; }
    .header__label::after {
      content: "";
      margin-left: 0.6rem;
      margin-right: 1.2rem;
      border-top: 0.3rem solid #056cb4;
      width: 100%; }

.profile {
  width: 100%;
  background-color: white; }
  .profile__content {
    margin: 0.6rem 0.88rem;
    margin-right: 1.2rem;
    position: relative;
    font-size: 1rem; }
  .profile__text {
    display: inline;
    font-weight: normal; }
  .profile__text-b {
    display: inline;
    font-weight: bold; }

.contact {
  width: 100%;
  background-color: white; }
  .contact__content {
    width: 100%;
    margin-top: 0.88rem;
    position: relative; }
  .contact__row {
    width: 100%;
    font-size: 1.41rem;
    margin-top: 1.76rem;
    margin-bottom: 1.47rem;
    margin-left: 0.88rem; }
  .contact__name {
    margin-left: 0rem;
    margin-top: 0.06rem;
    display: inline-block;
    font-weight: bold;
    color: #056cb4;
    letter-spacing: 0rem;
    text-transform: uppercase;
    width: 7.47rem; }
  .contact__value {
    display: inline-block;
    margin-left: 0.6rem;
    font-weight: normal;
    color: black;
    letter-spacing: 0rem;
    text-decoration: none; }

.point-bar__scale {
  margin-left: 2.4rem;
  font-weight: normal;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 0rem;
  margin: 0.48rem auto;
  text-align: center;
  font-size: 1.65rem;
  min-width: 20rem; }

.point-bar__name {
  margin-left: 2.4rem;
  font-weight: normal;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 0rem;
  margin: 0.48rem auto;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.65rem;
  text-transform: uppercase; }

.point-bar__circle {
  margin: 0rem 0.18rem; }
  .point-bar__circle_active {
    color: #056cb4; }
  .point-bar__circle_passive {
    color: lightgray; }

.skills {
  width: 100%;
  background-color: white; }
  .skills__content {
    width: 100%;
    margin-top: 1.5rem;
    position: relative;
    list-style-type: none;
    padding-inline-start: 0rem; }

.unit {
  width: 100%; }
  .unit__point {
    position: absolute;
    top: 0.42rem;
    left: 0.06rem; }
    .unit__point .icons-size {
      font-size: 1.65rem; }
  .unit__header-text {
    margin-left: 3.24rem;
    margin-top: 0.06rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0rem;
    text-transform: uppercase; }
  .unit__header-text_base-color {
    color: #056cb4; }
  .unit__header-years {
    display: inline-block;
    margin-left: 0.6rem;
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0rem; }
  .unit__name {
    margin-left: 3.24rem;
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0rem;
    text-transform: uppercase; }
  .unit__text {
    margin-left: 3.24rem;
    margin-top: 0.3rem;
    font-weight: normal;
    font-size: 1rem; }

.education {
  width: 100%;
  background-color: white; }
  .education__content {
    margin-top: 1.47rem;
    margin-left: 0.3rem;
    padding-inline-start: 0rem; }
  .education__item {
    position: relative;
    list-style-type: none;
    padding-inline-start: 0rem;
    margin-bottom: 0.55rem; }

.experience {
  width: 100%;
  background-color: white; }
  .experience__content {
    margin-top: 2.6rem;
    margin-left: 0.3rem;
    padding-inline-start: 0rem; }
  .experience__item {
    position: relative;
    list-style-type: none;
    padding-inline-start: 0rem;
    margin-bottom: 0.5rem; }

.line-bar__name {
  text-align: left;
  font-size: 1.65rem;
  text-transform: uppercase; }

.line-bar__bar {
  margin-top: 0.6rem;
  display: table;
  width: 100%;
  height: 1.53rem; }

.line-bar__bar-active {
  display: table-cell;
  background-color: #056cb4; }

.line-bar__bar-passive {
  display: table-cell;
  background-color: lightgray; }

.software {
  width: 100%;
  background-color: white; }
  .software__content {
    list-style-type: none;
    padding-inline-start: 0rem;
    margin-top: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.4rem;
    justify-items: center; }
    @media screen and (max-width: 35.3rem) {
      .software__content {
        grid-template-columns: 1fr;
        padding-top: 1.2rem; } }
  .software__bar {
    margin-left: 0.88rem;
    margin-bottom: 1.4rem;
    width: 90%; }

html {
  font-family: 'Conv Myriad Pro';
  font-size: 17px; }

body {
  margin: 0;
  text-align: center;
  text-align: -webkit-center; }

@font-face {
  font-family: 'Conv Myriad Pro';
  src: url(fonts/MyriadPro-Regular.eot);
  src: local("\263A"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv Myriad Pro';
  src: url(fonts/MyriadPro-Bold.eot);
  src: local("\263A"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }
