@charset "UTF-8";
.cv {
  min-width: 430px;
  max-width: 1255px;
  font-size: 17px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .cv {
      justify-content: center;
      margin: 0; } }
  .cv__left-column {
    min-width: 370px;
    flex-basis: 39%;
    background-color: white;
    margin-bottom: 80px; }
    @media screen and (max-width: 900px) {
      .cv__left-column {
        flex-grow: 0.9;
        margin-bottom: 0px; } }
  .cv__right-column {
    background-color: white;
    min-width: 430px;
    flex-basis: 57%;
    margin-bottom: 80px; }
    @media screen and (max-width: 900px) {
      .cv__right-column {
        flex-grow: 0.9; } }
  .cv__person {
    padding-top: 0; }
  .cv__profile {
    padding-top: 32px; }
  .cv__contact {
    padding-top: 45px; }
  .cv__skills {
    padding-top: 25px; }
  .cv__education {
    padding-top: 78px; }
    @media screen and (max-width: 900px) {
      .cv__education {
        padding-top: 50px; } }
  .cv__experience {
    padding-top: 45px; }
  .cv__software {
    padding-top: 45px; }

.person {
  height: 590px;
  width: 100%;
  background-color: white;
  text-align: center;
  text-transform: uppercase; }
  .person__name {
    margin-top: 20px;
    margin-left: 20px;
    height: 1em;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 2px;
    filter: blur(1px); }
  .person__surname {
    position: relative;
    top: -10px;
    height: 1em;
    font-size: 66px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: #ffffff00;
    margin-left: 20px; }
  .person__profession {
    margin-top: 10px;
    height: 1em;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px; }

.header {
  width: 100%;
  height: 78px;
  display: table;
  padding-left: 10px; }
  .header__border-circle {
    display: table-cell;
    position: relative;
    margin-left: 10px;
    width: 76px;
    min-width: 76px;
    min-height: 76px;
    border-radius: 50%;
    border: 1px solid #056cb4;
    background-color: white; }
  .header__background-circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #056cb4; }
  .header__icon {
    position: absolute;
    top: -13px;
    left: 10px;
    width: 70px;
    height: 70px;
    color: white;
    background-color: #ffffff00;
    font-size: 50pt; }
    .header__icon .icons-size {
      font-size: 50px;
      margin-top: 26px;
      margin-left: 4px; }
  .header__label {
    width: 20px;
    display: table-cell;
    padding-left: 22px;
    padding-top: 8px;
    font-size: 45px;
    font-weight: bold;
    background-color: #ffffff00;
    color: #056cb4;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .header__line {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
    height: 15px;
    border-top: 5px solid #056cb4; }

.profile {
  width: 100%;
  background-color: white; }
  .profile__content {
    margin: 10px 15px;
    margin-right: 20px;
    position: relative;
    font-size: 17px; }
  .profile__text {
    display: inline;
    font-weight: normal; }
  .profile__text-b {
    display: inline;
    font-weight: bold; }

.contact {
  width: 100%;
  background-color: white; }
  .contact__content {
    width: 100%;
    margin-top: 15px;
    position: relative; }
  .contact__row {
    width: 100%;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 15px; }
  .contact__name {
    margin-left: 0px;
    margin-top: 1px;
    display: inline-block;
    font-weight: bold;
    color: #056cb4;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 127px; }
  .contact__value {
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
    color: black;
    letter-spacing: 0px; }

.point-bar__scale {
  margin-left: 40px;
  font-weight: normal;
  font-size: 30px;
  color: black;
  letter-spacing: 0px;
  margin: 8px auto;
  text-align: center;
  font-size: 28px;
  min-width: 340px; }

.point-bar__name {
  margin-left: 40px;
  font-weight: normal;
  font-size: 30px;
  color: black;
  letter-spacing: 0px;
  margin: 8px auto;
  margin-top: 17px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase; }

.point-bar__circle {
  margin: 0px 3px; }
  .point-bar__circle_active {
    color: #056cb4; }
  .point-bar__circle_passive {
    color: lightgray; }

.skills {
  width: 100%;
  background-color: white; }
  .skills__content {
    width: 100%;
    margin-top: 23px;
    position: relative;
    list-style-type: none;
    padding-inline-start: 0px; }

.unit {
  width: 100%; }
  .unit__point {
    position: absolute;
    top: 7px;
    left: 10px; }
    .unit__point .icons-size {
      font-size: 28px; }
  .unit__header-text {
    margin-left: 55px;
    margin-top: 1px;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .unit__header-text_base-color {
    color: #056cb4; }
  .unit__header-years {
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0px; }
  .unit__name {
    margin-left: 55px;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .unit__text {
    margin-left: 55px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 17px; }

.education {
  width: 100%;
  background-color: white; }
  .education__content {
    margin-top: 25px;
    margin-left: 5px;
    padding-inline-start: 0px; }
    .education__content li {
      position: relative;
      list-style-type: none;
      padding-inline-start: 0px;
      margin-bottom: 11px; }

.experience {
  width: 100%;
  background-color: white; }
  .experience__content {
    margin-top: 45px;
    margin-left: 5px;
    padding-inline-start: 0px; }
    .experience__content li {
      position: relative;
      list-style-type: none;
      padding-inline-start: 0px;
      margin-bottom: 11px; }

.line-bar__name {
  text-align: left;
  font-size: 28px;
  text-transform: uppercase; }

.line-bar__bar {
  margin-top: 10px;
  display: table;
  width: 100%;
  height: 25px; }

.line-bar__bar-active {
  display: table-cell;
  background-color: #056cb4; }

.line-bar__bar-passive {
  display: table-cell;
  background-color: lightgray; }

.software {
  width: 100%;
  background-color: white; }
  .software__content {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    justify-items: center; }
    @media screen and (max-width: 600px) {
      .software__content {
        grid-template-columns: 1fr;
        padding-top: 20px; } }
  .software__bar {
    margin-left: 15px;
    margin-bottom: 25px;
    width: 90%; }

html {
  font-family: 'Conv Myriad Pro'; }

body {
  margin: 0; }

@font-face {
  font-family: 'Conv Myriad Pro';
  src: url(fonts/MyriadPro-Regular.eot);
  src: local("\263A"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv Myriad Pro';
  src: url(fonts/MyriadPro-Bold.eot);
  src: local("\263A"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }
