mixin header(icon, label)
    .header
        .header__round
            .header__roundinn
            .header__star
                i(class="material-icons icons-size")= icon
        .header__label= label
        .header__line