
.header {
    padding-left: 15px;
    height: 78px;
    width: 100%;
    display: flex;
    position: relative;
    &__icon {
        display: inline-flex;
        position: relative;
        width: 70px; 
        height: 70px;
        margin-top: 4px;
        margin-left: 4px;
        border-radius: 50%;
        color: white;
        background-color: $base-color;
        border: 0px;
        &::before {
            content: "";
            position: absolute;
            width: 76px;
            height: 76px;
            margin-top: -4px;
            margin-left: -4px;
            border-radius: 50%;
            border: 1px solid $base-color;
        }
        .icons-size {
            font-size: 50px; 
            margin-top: 10px; 
            margin-left: 10px;
        }
    }
    &__label {
        display: inline-flex;
        align-items: center;
        padding-left: 22px;
        font-size: 45px;
        font-weight: bold;
        background-color: #ffffff00;
        color: $base-color;
        letter-spacing: 0px;
        text-transform: uppercase;
    }
    &__line {
        flex: 1;
        align-items: center;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 37px;
        border-top: 5px solid $base-color;
    }
}