mixin header(icon, header)
    header.header
        figure.header__border-circle
            .header__background-circle
            .header__icon
                i(class="material-icons icons-size")= icon
        .header__label= header
        .header__line