
.header {
    padding-left: 0.88rem;
    height: 4.59rem;
    width: 100%;
    display: flex;

    &__icon {
        width: 4.18rem; 
        height: 4.18rem;
        margin-top: 0.24rem;
        margin-left: 0.24rem;
        border-radius: 50%;
        color: white;
        background-color: $base-color;
        border: 0rem;

        &::before {
            content: "";
            position: absolute;
            width: 4.47rem;
            height: 4.47rem;
            margin-top: -0.24rem;
            margin-left: -0.24rem;
            border-radius: 50%;
            border: 0.06rem solid $base-color;
        }

        .icons-size {
            font-size: 3rem; 
            margin-top: 0.6rem; 
            margin-left: 0.6rem;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        flex-grow: 1;
        padding-left: 1.3rem;
        font-size: 2.65rem;
        font-weight: bold;
        background-color: #ffffff00;
        color: $base-color;
        letter-spacing: 0rem;
        text-transform: uppercase;   
             
        &::after {
            content: "";
            margin-left: 0.6rem;
            margin-right: 1.2rem;
            border-top: 0.3rem solid $base-color;
            width: 100%;
        }
    }
}