mixin header(icon, header)
    header.header
        .header__icon
            i(class="material-icons icons-size header__material-icon")= icon
        .header__label
            .header__text= header
            .header__line