
.profile {
    margin-top: 44px;
    width: 100%;
    background-color: $info-color;
}
.procontent {
    margin: 0px 15px;
    position: relative;
    font-size: 17px;
}
.inprofile {
    display: inline;
    font-family: 'Conv_MyriadPro-Regular';
}
.b {    
    display: inline;
    font-family: 'Conv_MyriadPro-Bold';
}
