mixin profile(profile)
    .profile
        +block-header(profile.icon, profile.header)
        .profile__procontent
            .profile__inprofile= profile.text
            .profile__b= profile.textB