include ../person/person
include ../header/header
include ../profile/profile
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin cv(dataJson)
    .cv
      .cv__left-column
        .cv__person
          +person(dataJson.personObj)
        .cv__profile
          +profile(dataJson.profile)
        .cv__contact
          +contact(dataJson.contact)
        .cv__skills
          +skills(dataJson.skills)
      .cv__right-column
        .cv__education
          +education(dataJson.education)
        .cv__experience
          +experience(dataJson.experience)
        .cv__software
          +software(dataJson.software)