
.cv {
    min-width: 25.3rem;
    max-width: 73.8rem;
    font-size: 1rem;
    text-align: start;
    display: grid;
    grid-gap: 2.6rem;
    grid-template-columns: 37fr 56fr;

    @media screen and (max-width: 52.9rem) {
        grid-template-columns: 1fr;
    }
    
    &__left-column {
        min-width: 21.8rem;
        background-color: $bg-color;
        margin-bottom: 4.7rem;
        padding-left: 1rem;

        @media screen and (max-width: 52.9rem) {
            margin-bottom: 0rem;
        }
    }
    
    &__right-column {
        background-color: $bg-color;
        min-width: 25.3rem;
        margin-bottom: 4.7rem;
        padding-left: 0.7rem;
        padding-right: 1.3rem;
    }
    
    &__person {
        padding-top: 5.9rem;
        padding-left: 1.5rem;
    }
    
    &__profile {
        padding-top: 0.4rem;
    }
    
    &__contact {
        padding-top: 2.9rem;
    }
    
    &__skills {
        padding-top: 1.1rem;
    }
    
    &__education {
        padding-top: 4.2rem;
        
        @media screen and (max-width: 52.9rem) {
            padding-top: 2.94rem;
        }
    }

    &__experience {
        padding-top: 2rem;
    }
    
    &__software {
        padding-top: 2.05rem;
    }
}
