
.cv {
  min-width: 1010px;
  max-width: 1260px;
  display: block;
  font-size: 17px;
  margin: 0 auto;
  
  &__left-column {
    width: $width-left;
    float: left;
    margin-left: $margin-cols;
    margin-left: 10px;
    margin-right: $margin-fix;
    background-color: $bg-color;
    margin-bottom: 80px;
  }
  
  &__right-column {
    width: $width-right;
    margin-left: $margin-fix;
    margin-right: $margin-cols;
    float: right;
    background-color: $bg-color;
    min-width: 570px;
    margin-bottom: 80px;
  }
  
  &__person {
    padding-top: 0;
  }
  
  &__profile {
    padding-top: 32px;
  }
  
  &__contact {
    padding-top: 45px;
  }
  
  &__skills {
    padding-top: 25px;
  }
  
  &__education {
    padding-top: 78px;
  }

  &__experience {
    padding-top: 58px;
  }
  
  &__software {
    padding-top: 68px;
  }
}
