mixin software(software)
    .software
        +header(software.icon, software.header)
        .software__content
          .software__left
            each soft in software.leftList
              +software__content(soft)
          .software__middle
          .software__right
            each soft in software.rightList
              +software__content(soft)

//- internal mixin
mixin software__content(soft)
    .software__name= soft[0]
    .software__bar
        div(class="software__bar-active" style="width: "+soft[1])
        .software__bar-passive
