@import "../line-bar/line-bar";

.software {
    width: 100%;
    background-color: $bg-color;
    &__content {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        justify-items: center;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            padding-top: 20px;
        }
    }
    &__bar {
        margin-left: 15px;
        margin-bottom: 25px;
        width: 90%;
    }
}