include ..//line-bar/line-bar

mixin software(software)
    .software
      .software__header
          +header(software.icon, software.header)
      .software__content
        each soft in software.softList
          .software__bar
            +line-bar(soft)
