include ..//line-bar/line-bar

mixin software(software)
    .software
        +header(software.icon, software.header)
        .software__content
          .software__left
            each soft in software.leftList
              .software__bar
                +line-bar(soft)
          .software__right
            each soft in software.rightList
              .software__bar
                +line-bar(soft)
