
@import "../scss/constants.scss";

.software {
    background-color: $bg-color;
    
    &__content {
        list-style-type: none;
        padding-inline-start: 0rem;
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.4rem;
        justify-items: center;
        
        @media screen and (max-width: 35.3rem) {
            grid-template-columns: 1fr;
            padding-top: 1.2rem;
        }
    }

    &__bar {
        margin-left: 0.88rem;
        margin-bottom: 1.3rem;
        width: 90%;
    }
}