include ..//line-bar/line-bar

mixin software({icon, header, softList})
    .software
      .software__header
          +header(icon, header)
      .software__content
        each soft in softList
          .software__bar
            +line-bar(soft)
