mixin content-contact(label, value)
        .incontact
            .name= label
            .value= value

mixin contact
    .contact
        +block-header('call', 'CONTACT')
        .content
            +content-contact('ADDRESS', 'Main Street, City.')
            +content-contact('EMAIL', 'contact@domain.com')
            +content-contact('PHONE', '555-555-555')
            +content-contact('WEBSITE', 'www.yourweb.com')