.contact {
    margin-top: 53px;
    width: 100%;
    background-color: $info-color;
    &__content {
        width: 100%;
        margin-top: 15px;
        position: relative;
    }
    &__incontact {
        width: 100%;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 15px;
    }
    &__name {
        margin-left: 0px;
        margin-top: 1px;
        display: inline-block;
        font-family: 'Conv_MyriadPro-Bold';
        // font-size: 30px;
        color: $base-color;
        letter-spacing: 0px;
        text-transform: uppercase;
        width: 127px;
    }
    &__value {
        display: inline-block;
        margin-left: 10px;
        font-family: 'Conv_MyriadPro-Regular';
        // font-size: 30px;
        color: black;
        letter-spacing: 0px;
    }
}