
mixin contact(contact)
    .contact
        +block-header(contact.icon, contact.header)
        .content
            each cont in contact.contacts
                .incontact
                    .name= cont[0]
                    .value= cont[1]