
mixin contact({icon, header, contacts})
    .contact
        .contact__header
            +header(icon, header)
        .contact__content
            each cont in contacts
                .contact__row
                    .contact__name= cont.name
                    .contact__value= cont.value