
mixin contact({icon, header, contacts})
    .contact
        .contact__header
            +header(icon, header)
        .contact__content
            each cont in contacts
                dl.contact__row
                    dd.contact__name= cont.name
                    a.contact__value(href=`${cont.value}` target="_blank" rel="noopener noreferrer")= cont.displayValue