.contact {
    background-color: $bg-color;

    &__content {
        width: 100%;
        margin-top: 1.8rem;
        position: relative;
    }

    &__row {
        width: 100%;
        font-size: 1.41rem;
        margin-top: 0rem;
        margin-bottom: 1.6rem;
        margin-left: 0.88rem;
    }

    &__name {
        margin-left: 0rem;
        margin-top: 0.06rem;
        display: inline-block;
        font-weight: bold;
        color: $base-color;
        letter-spacing: -0.07rem;
        text-transform: uppercase;
        width: 7.47rem;
    }
    
    &__value {
        display: inline-block;
        margin-left: 0.6rem;
        font-weight: normal;
        color: black;
        letter-spacing: -0.06rem;
        text-decoration: none;
    }
}