
mixin contact(contact)
    .contact
        .contact__header
            +header(contact.icon, contact.header)
        .contact__content
            each cont in contact.contacts
                .contact__row
                    .contact__name= cont[0]
                    .contact__value= cont[1]