.line-bar {
    &__name {
        text-align: left;
        font-size: 1.65rem;
        text-transform: uppercase;
    }

    &__bar {
        margin-top: 0.6rem;
        position: relative;
        height: 1.53rem;
        background-color: lightgray;
    }

    &__progress {
        height: inherit;
        background-color: #056cb4;
    }
}
