.line-bar {    
    &__name {
        text-align: left;
        font-size: 1.65rem;
        text-transform: uppercase;
    }

    &__bar {
        margin-top: 0.6rem;
        display: table;
        width: 100%;
        height: 1.53rem;
    }

    &__bar-active {
        display: table-cell;
        background-color: #056cb4;
    }
    
    &__bar-passive {
        display: table-cell;
        background-color: lightgray;
    }
}