@import "../point-bar/point-bar";

.skills {
    width: 100%;
    background-color: $bg-color;
    
    &__content {
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 0.1rem;
        position: relative;
        list-style-type: none;
        padding-inline-start: 0rem;
    }
}