include ../point-bar/point-bar

mixin skills(skills)
    .skills
        +header(skills.icon, skills.header)
        .skills__content
            each skill in skills.skillsList
                .skills__list
                    +point-bar(skill)
