include ../point-bar/point-bar

mixin skills({icon, header, skillsList})
    .skills
        .skills__header
            +header(icon, header)
        ul.skills__content
            each skill in skillsList
                li.skills__list
                    +point-bar(skill)
