
mixin skills(skills)
    .skills
        +block-header(skills.icon, skills.header)
        .skills__content
            each skill in skills.skillsList
                .skills__name= skill[0]
                .skills__scale
                    - for (var x = 0; x < 12; x++)
                        if x < skill[1]
                            i(class="material-icons icons-size skills__circle-active")= 'lens'
                        else
                            i(class="material-icons icons-size skills__circle-gray")= 'lens'
