
mixin skills(skills)
    .skills
        +block-header(skills.icon, skills.header)
        .content-skills
            each skill in skills.skillsList
                .uname.skill= skill[0]
                .uname.inskills
                    - for (var x = 0; x < 12; x++)
                        if x < skill[1]
                            i(class="material-icons icons-size lens-active")= 'lens'
                        else
                            i(class="material-icons icons-size lens-gray")= 'lens'
