mixin logo(logoObj)
    .logo
        svg(height="350" width="100%")
            circle(r="130" cx="51%" cy="217" stroke="#056cb4" stroke-width="1" fill="white")
            circle(r="114" cx="51%" cy="217" fill="#056cb4")
        .logo__name= logoObj.name
        .logo__surname= logoObj.surname
        .logo__graphic= logoObj.graphic