include ../unit/unit

mixin education({icon, header, eduList})
    .education
        .education__header
            +header(icon, header)
        .education__content
            each elem in eduList
                +unit(elem, "highlighted")
