.education {
    width: 100%;
    background-color: $bg-color;
    &__content {
        margin-top: 25px;
        margin-left: 5px;
        padding-inline-start: 0px;
        li {
            position: relative;
            list-style-type: none;
            padding-inline-start: 0px;
        }
    }
}

@import "../unit/unit";