include ../unit/unit

mixin education(education)
    .education
        .education__header
            +header(education.icon, education.header)
        .education__content
            each elem in education.eduList
                +unit(elem, "highlighted")
