include ../unit/unit

mixin education({icon, header, eduList})
    .education
        .education__header
            +header(icon, header)
        ul.education__content
            each elem in eduList
                li
                    +unit(elem, "highlighted")
