$base-color: #056cb4;
$bg-color: white;

.person {
    height: 28.8rem;
    background-color: $bg-color;
    text-align: center;
    text-transform: uppercase;

    &__photo {
        position: relative;
        width: 12.7rem;
        height: 12.7rem;
        border-radius: 50%;
        background-color: $base-color;
        margin: 0 auto;

        &::after {
            position: absolute;
            content: "";
            top: -0.94rem;
            left: -0.94rem;
            width: 14.4rem;
            height: 14.4rem;
            border-radius: 50%;
            border: 0.06rem solid $base-color;
        }
    }

    &__name {
        margin-top: 2.4rem;
        height: 3.53rem;
        font-size: 3.53rem;
        font-weight: normal;
        letter-spacing: 0rem;
        filter: blur(0.06rem);
    }

    &__surname {
        margin-top: -0.75rem;
        height: 3.88rem;
        font-size: 3.88rem;
        font-weight: bold;
        letter-spacing: 0rem;
        background-color: #ffffff00;
    }
    
    &__profession {
        margin-top: 0.9rem;
        font-size: 1.53rem;
        font-weight: bold;
        letter-spacing: -0.02rem;
    }
  }