
.profile {
    width: 100%;
    background-color: $bg-color;
    &__content {
        margin: 10px 15px;
        position: relative;
        font-size: 17px;
    }
    &__text {
        display: inline;
        font-family: 'Conv_MyriadPro';
        font-weight: normal;
        font-size: 16.8px;
    }
    &__text-b {    
        display: inline;
        font-family: 'Conv_MyriadPro';
        font-weight: bold;
        font-size: 16.8px;
    }
}
