mixin profile({icon, header, text, textB})
    .profile
        .profile__header
            +header(icon, header)
        .profile__content
            p.profile__text= text
                span.profile__text.profile__text_display_bold= textB