
.profile {
    width: 100%;
    background-color: $bg-color;

    &__content {
        margin: 10px 15px;
        margin-right: 20px;
        position: relative;
        font-size: 17px;
    }

    &__text {
        display: inline;
        font-weight: normal;
    }
    
    &__text-b {    
        display: inline;
        font-weight: bold;
    }
}
