mixin profile(profile)
    .profile
        .profile__header
            +header(profile.icon, profile.header)
        .profile__content
            .profile__text= profile.text
            .profile__text-b= profile.textB