.software {
    margin-top: 65px;
    width: 100%;
    background-color: $info-color;
}
.insoftware {
    margin-left: 20px;
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
}
.bar {
    margin: 20px;
    display: table;
    width: 90%;
    height: 25px;
    .blue {
        display: table-cell;
        background-color: #056cb4;
    }
    .grey {
        display: table-cell;
        background-color: lightgray;
    }
}

.leftsoftware, .rightsoftware {
    margin: 0;
    display: inline-block;
    width: 49%;
}