mixin content-software(soft)
    .software__insoftware= soft[0]
    .software__bar
        div(class="software__blue" style="width: "+soft[1])
        .software__grey

mixin software(software)
    .software
        +block-header(software.icon, software.header)
        .software__content
          .software__leftsoftware
            each soft in software.leftList
              +content-software(soft)
          .software__middle
          .software__rightsoftware
            each soft in software.rightList
              +content-software(soft)