.software {
    margin-top: 55px;
    width: 100%;
    background-color: $info-color;
    &__insoftware {
        margin-left: 20px;
        text-align: left;
        font-size: 28px;
        text-transform: uppercase;
    }
    &__bar {
        margin: 16px;
        display: table;
        width: 90%;
        height: 25px;
    }
    &__blue {
        display: table-cell;
        background-color: #056cb4;
    }
    &__grey {
        display: table-cell;
        background-color: lightgray;
    }

    &__leftsoftware, &__rightsoftware {
        margin: 0;
        margin-top: 20px;
        display: inline-block;
        width: 47%;
    }
    &__middle {
        display: inline-block;
        width: 4%;
    }
}