mixin content-software(soft)
    .uname.insoftware= soft[0]
    .bar
        div(class="blue" style="width: "+soft[1])
        .grey

mixin software(software)
    .software
        +block-header(software.icon, software.header)
        .content
          .leftsoftware
            each soft in software.leftList
              +content-software(soft)
          .rightsoftware
            each soft in software.rightList
              +content-software(soft)