include ./cv/cv

console.log("do it")

- let path = require('path');
- let fs = require('fs');
- let dataJson = JSON.parse(fs.readFileSync('./src/data.json'));

html
  head
    meta(charset='UTF-8')
    title resume
    link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    +cv(dataJson)
    script(src="main.js")