include ./logo/logo.pug
include ./block-header/block-header
include ./content-profile/content-profile
include ./content-contact/content-contact
include ./content-skills/content-skills
include ./content-education/content-education
include ./content-experience/content-experience
include ./content-software/content-software

html
  head
    meta(charset='UTF-8')
    title resume
    link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .col.col-left
      +logo
      +profile
      +contact
      +skills
    .col.col-right
      +education
      +experience
      +software
    script(src="main.js")