mixin point-bar(skill)
    .point-bar
        .point-bar__name= skill.name
        .point-bar__scale
            - for (var x = 0; x < skill.elements; x++)
                if x < skill.actives
                    i(class="material-icons icons-size point-bar__circle point-bar__circle_active")= 'lens'
                else
                    i(class="material-icons icons-size point-bar__circle point-bar__circle_passive")= 'lens'