.point-bar {
    &__scale {
        margin-left: 2.4rem;
        font-weight: normal;
        font-size: 1.8rem;
        color: black;
        letter-spacing: 0rem;
        margin: 0.48rem auto;
        text-align: center;
        font-size: 1.65rem;
        min-width: 20rem;
    }

    &__name {
        margin-left: 2.4rem;
        font-weight: normal;
        font-size: 1.8rem;
        color: black;
        letter-spacing: 0rem;
        margin: 0.48rem auto;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.65rem;
        text-transform: uppercase;
    }

    &__circle {
        margin: 0rem 0.18rem;

        &_active {
            color: #056cb4;
        }
        
        &_passive {
            color: lightgray;
        }
    }
}