.unit {
    width: 100%;

    &__point {
        position: absolute;
        top: 0.42rem;
        left: 0.06rem;
        
        .icons-size {
            font-size: 1.65rem; 
        }
    }

    &__header-text {
        margin-left: 3.24rem;
        margin-top: 0.06rem;
        display: inline-block;
        font-weight: bold;
        font-size: 1.8rem;
        letter-spacing: 0rem;
        text-transform: uppercase;
    }

    &__header-text_base-color {
        color: $base-color;
    }

    &__header-years {
        display: inline-block;
        margin-left: 0.6rem;
        font-weight: normal;
        font-size: 1.8rem;
        letter-spacing: 0rem;
    }

    &__name {
        margin-left: 3.24rem;
        font-weight: normal;
        font-size: 1.8rem;
        letter-spacing: 0rem;
        text-transform: uppercase;
    }
    
    &__text {
        margin-left: 3.24rem;
        margin-top: 0.3rem;
        font-weight: normal;
        font-size: 1rem;
    }    
}